<h3>Información del Paciente <%= @patient.first_name %> <%= @patient.last_name %></h3>

<ul>

  <li>
    <strong>Telefono:</strong>
    <%= @patient.phone %>
  </li>

  <li>
    <strong>Genero:</strong>
    <%= @patient.gender %>
  </li>

  <li>
    <strong>Edad:</strong>
    <%= @patient.age %>
  </li>

</ul>

<%= link "Editar", class: "btn btn-green",to: patient_path(@conn, :edit, @patient) %>
<%= link "Volver", class: "btn btn-default" ,to: patient_path(@conn, :index) %>
