/* This file is for your main application css. */
body{
  margin: 0;
  background: #e7fcee;
}

header .navbar-default{
  background-color: #6edba2;
}

header .navbar-default img{
  width: 200px;
}

header .navbar-brand{
  height: 70px;
}

header .navbar-header{
  height: 70px;
}

header .user-container{
  display: flex;
  align-items: center;
}

header .user-container p{
  color: #e7fcee;
  font-family: 'Nunito', sans-serif;
  padding-left: 1em;
}

.user-info{
  align-items: flex-end;
  display: flex;
  flex-direction: row;
}

.user-info img{
  width: 50px !important;
}

.btn-green{
  background-color: #6edba2;
  border: none;
  color: #e7fcee;
}

.btn-green:hover{
  background-color: #5EB889;
  border: none;
  color: #e7fcee;
}

.btn-red{
  background-color: #DB6464;
  color: #e7fcee;
}
.btn-red:hover{
  background-color: #C95C5C;
  color: #e7fcee;
}

.btn-blue{
  background-color: #62d9e5;
  color: #e7fcee;
}
.btn-blue:hover{
  background-color: #50B7C1;
  color: #e7fcee;
}
